/*Fuente importada: Montserrat*/
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
}
/*Selector por etiqueta*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}

/*Selector por clase*/
.rrss-icon{
  text-decoration: none;
  color: white;
}

/*Selector por id*/
#enviarMensaje{
  color: white;
}